<div class="row">
    <div class=" col-md-12">
        <div class="row">
            <img src="{% if 1 in keys %}{{ asset('img/puzzle/puzz1.jpg') }}{% else %}{{ asset('img/blank.jpg') }}{% endif %}"
                 alt="puzz1" class="p-0 m-0 col-md-3">
            <img src="{% if 2 in keys %}{{ asset('img/puzzle/puzz2.jpg') }}{% else %}{{ asset('img/blank.jpg') }}{% endif %}"
                 alt="puzz2" class="p-0 m-0 col-md-3">
            <img src="{% if 3 in keys %}{{ asset('img/puzzle/puzz3.jpg') }}{% else %}{{ asset('img/blank.jpg') }}{% endif %}"
                 alt="puzz3" class="p-0 m-0 col-md-3">
            <img src="{% if 4 in keys %}{{ asset('img/puzzle/puzz4.jpg') }}{% else %}{{ asset('img/blank.jpg') }}{% endif %}"
                 alt="puzz4" class="p-0 m-0 col-md-3">
        </div>
        <div class="row">
            <img src="{% if 5 in keys %}{{ asset('img/puzzle/puzz5.jpg') }}{% else %}{{ asset('img/blank.jpg') }}{% endif %}"
                 alt="puzz5" class="p-0 m-0 col-md-3">
            <img src="{% if 6 in keys %}{{ asset('img/puzzle/puzz6.jpg') }}{% else %}{{ asset('img/blank.jpg') }}{% endif %}"
                 alt="puzz6" class="p-0 m-0 col-md-3">
            <img src="{% if 7 in keys %}{{ asset('img/puzzle/puzz7.jpg') }}{% else %}{{ asset('img/blank.jpg') }}{% endif %}"
                 alt="puzz7" class="p-0 m-0 col-md-3">
            <img src="{% if 8 in keys %}{{ asset('img/puzzle/puzz8.jpg') }}{% else %}{{ asset('img/blank.jpg') }}{% endif %}"
                 alt="puzz8" class="p-0 m-0 col-md-3">
        </div>
        <div class="row">
            <img src="{% if 9 in keys %}{{ asset('img/puzzle/puzz9.jpg') }}{% else %}{{ asset('img/blank.jpg') }}{% endif %}"
                 alt="puzz9" class="p-0 m-0 col-md-3">
            <img src="{% if 10 in keys %}{{ asset('img/puzzle/puzz10.jpg') }}{% else %}{{ asset('img/blank.jpg') }}{% endif %}"
                 alt="puzz10" class="p-0 m-0 col-md-3">
            <img src="{% if 11 in keys %}{{ asset('img/puzzle/puzz11.jpg') }}{% else %}{{ asset('img/blank.jpg') }}{% endif %}"
                 alt="puzz11" class="p-0 m-0 col-md-3">
            <img src="{% if 12 in keys %}{{ asset('img/puzzle/puzz12.jpg') }}{% else %}{{ asset('img/blank.jpg') }}{% endif %}"
                 alt="puzz12" class="p-0 m-0 col-md-3">
        </div>
    </div>
</div>