<div class="row" style="background-color: #eee;">
    <div class="col-md-12 p-0">
        {% if activity.isLastActivity and activity.videoPath is not empty %}
            <video id="doomVideo" autoplay="autoplay" onended="reload.navigate('{{ path('room_index', {id: activity.room.nextRoom.id}) }}')" width="100%">
                <source src="{{ asset(activity.videoPath) }}" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
        {% else %}
            <img src="{{ asset(activity.mapImagePath) }}" alt="-" width="100%"/>
        {% endif %}
    </div>
</div>
<div class="row">
    {% if activity.isLastActivity and activity.room.isLastRoom %}
        UGABUGA KURWA KONIEC
    {% else %}
        {% if activity.isFirstActivity %}
            <button type="button" class="col-md-6 btn btn-dark w-50 btn-lg btn-ph-20"
                    onclick="reload.navigate('{{ path('room_index', {id: activity.room.id}) }}')">
                Poprzedni
            </button>
        {% else %}
            <button type="button" class="col-md-6 btn btn-dark w-50 btn-lg btn-ph-20"
                    onclick="reload.navigate('{{ path('activity_index', {id: activity.previousActivity.id}) }}')">
                Poprzedni
            </button>
        {% endif %}

        {% if activity.isLastActivity and not activity.room.isLastRoom %}
            <button type="button" class="col-md-6 btn btn-dark w-50 btn-lg btn-ph-20"
                    onclick="reload.unlockAndNavigate({{ activity.unlockedPuzzle }}, '{{ path('room_index', {id: activity.room.nextRoom.id}) }}')">
                Następny pokój
            </button>
        {% elseif not activity.isLastActivity and activity.nextActivity is not empty %}
            <button type="button" class="col-md-6 btn btn-navy w-50 btn-lg btn-ph-20"
                    onclick="reload.unlockAndNavigate({{ activity.unlockedPuzzle }}, '{{ path('activity_index', {id: activity.nextActivity.id}) }}')">
                Następny
            </button>
        {% endif %}
    {% endif %}
</div>